* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  font-family:Arial, Helvetica, sans-serif;
}
.main-app-layout {
  display:grid;
  grid-template-rows:auto 1fr auto;
  box-sizing:border-box;
  height:100vh;
}
.routes-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1rem;
  width:100vw;
  background-color: rgb(29, 28, 28); 
}
/* header starts here */
.header-main {
  background-color: lightblue;
  position: sticky;
  z-index:100;
  width:100vw;
  display:flex;
  justify-content: space-around;
  padding:1rem 1rem;
}
.header-main p {
  color:orange; 
  font-weight: bold;
}
.link {
  color:black;
  font-weight: bold;
  text-decoration: none;
}
.link:hover {
  color:orange;
  transition: 0.1s ease-out;
}
/* header finishes here */
.all-memes-main-content {
  background-color: orange;
  font-family: sans-serif;
  display: grid;
  grid-template-columns:repeat(auto-fill, 250px);
  max-height:500px;
  overflow: scroll;
  max-width:90%;
  padding:1rem 1rem;
  grid-gap:0.6rem;
  grid-auto-rows: 1fr;
  color:white;
}
.each-meme {
  border: 3px solid white;
  border-radius:10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  cursor: pointer;
  background-color: rgb(122, 118, 118);
  height:250px;
  transition: 0.6s ease background-color;
}
.each-meme:hover {
  background-color:white;
}
.each-meme:hover > .svg-div {
  display: flex;
  z-index: 1;
  fill:black;
}
.each-meme:hover > .meme-info {
  background-color: white;
  opacity: 1;
  color: white;
  opacity: 0.6;
}
.meme-info {
  display: flex;
  flex-direction: column;
  grid-row-start: 1;
  grid-column-start: 1;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
}

.meme-info img {
  max-width: 100%;
  height:150px;
}
.meme-info p {
  color:white;
  text-decoration: none;

}
.svg-div {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-column-start: 1;
}
#svg {
  width: 55px;
  height: 55px;
  color: black;
}

/* form starts here */

.meme-component-main {
  border-radius:10px;
  border:2px solid orange;
  padding:1rem;
  background-color: lightblue;
}
.meme-div img{
  max-height:300px;
  max-width:80%;
  margin:1rem auto;
  border:2px solid black;
  display:flex;
  justify-content: center;
}

.form-main {
  display:flex;
  flex-direction: column;
  width:90%;
  margin:1rem auto;
}
.form-main textarea {
  resize:none;
  padding:0.5rem;
  margin:0.2rem;
  border:1px solid orange;
}
.form-main textarea:focus {
  border:2px solid green;
  
}
.form-main button {
  padding:0.5rem;
  margin:0.2rem;
  cursor:pointer;
  border:none;
  font-weight:bold;
  background-color: orange;
}
.form-main button:hover,
.form-main button:focus {
  color:lightblue;
  border-radius: 10px 0px;
  
}

/* form ends here */
/* fetched meme starts here */
.fetchedmeme-main {
  max-width:450px;
  border: 2px solid orange;
  border-radius:10px;
  display:flex;
  align-items:center;
  color:orange;
  flex-direction:column;
  padding:1rem;
  justify-content: space-between;
  background-color: lightblue;
}

.fetchedmeme-main p {
  width:100%;
  bottom:12px;
  background-color: lightblue;
  padding:5px;
  text-align:center;
  animation: textcolor 0.5s linear 0.5s infinite alternate;
  border-radius:10px;
}
@keyframes textcolor {
  from{color:black;font-weight: bold;}
  to {color:orange;font-weight:normal}
}

.fetchedmeme-main img {
  width:100%;
  padding:1rem;
  height:380px;
}
/* fetched meme ends here */
/* footer starts here */

.footer-main {
  padding:1rem 1rem;
  background-color:lightblue;
  display: flex;
  justify-content: space-between;
  padding:1rem;
}
@keyframes flash {
  from {color:black}
  to {color:orange}
}
.footer-main a {
  color:black;
  font-weight: bold;
  text-decoration: none;
  animation: flash 0.5s linear 0.5s infinite alternate;
}
.footer-main a:hover {
  color:orange;
  transition: 0.1s ease-in
}
@media (max-width:500px) {
  .all-memes-main-content {
    max-width:100%;
    grid-template-columns:repeat(auto-fill, 100px);
  }
  .each-meme {
    height:100px;
    font-size:0.2rem;
    text-align: center;
  }
  .meme-info p {
    font-size:8px;
  }
  .meme-info img {
    
    height: 50px;
  }
}