
* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  font-family:Arial, Helvetica, sans-serif;
}

.main-app-layout {
  display:grid;
  grid-template-rows:auto 1fr auto;
  height:100vh;
}
.routes-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1rem 1rem;
  max-width:100vw;
  background:black;
}
/* header starts here */
.header-main {
  background-color: lightblue;
  position: sticky;
  z-index:100;
  width:100vw;
  display:flex;
  justify-content: space-around;
  padding:1rem 1rem;
}
.header-main p {
  color:orange; 
  font-weight: bold;
}
.link {
  color:black;
  font-weight: bold;
  text-decoration: none;
}
.link:hover {
  color:orange;
  transition: 0.1s ease-out;
}
/* header finishes here */
.all-memes-main-content {
  background-color: orange;
  font-family: sans-serif;
  display: grid;
  grid-template-columns:repeat(auto-fill, 240px);
  margin:2rem auto;
  overflow: scroll;
  max-width:90%;
  padding:1em 1rem;
  grid-gap:0.6rem;
  color:white;
  border:2px solid lightblue;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height:80vh;
}
.all-memes-main-content::-webkit-scrollbar {
  display: none;
}

.each-meme {
  border: 3px solid lightblue;
  border-radius:10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  cursor: pointer;
  background-color: rgb(122, 118, 118);
  height:250px;
  transition: 0.6s ease background-color;
}
.each-meme:hover {
  background-color:white;
}
.each-meme:hover > .svg-div {
  display: flex;
  z-index: 1;
  fill:black;
}
.each-meme:hover > .meme-info {
  background-color: white;
  opacity: 1;
  color: white;
  opacity: 0.6;
}
.meme-info {
  display: flex;
  flex-direction: column;
  grid-row-start: 1;
  grid-column-start: 1;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
}

.meme-info img {
  max-width: 100%;
  height:150px;
}
.meme-info p {
  color:white;
  text-decoration: none;

}
.svg-div {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-column-start: 1;
}
#svg {
  width: 55px;
  height: 55px;
  color: black;
}

/* form starts here */
.meme-component-main {
  padding:2rem;
  width:50%;
}
.meme-div {
  border-radius:10px;
  border:2px solid orange;
  padding:1rem;
  margin:1rem auto;
  width:70%;
  margin:1rem auto;
  display:flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  background-color: lightblue;
}
.meme-div img {
  max-width:90%;
  width:90%;
  height:250px;
  border-radius:10px;
  border:2px solid orange;
}

.form-main {
  display:flex;
  flex-direction: column;
  max-width:90%;
  width:90%;
  margin:1rem auto;
  border:2px solid orange;
  border-radius: 10px;
  padding:1rem;
}
.form-main textarea {
  resize:none;
  padding:0.5rem;
  margin:0.2rem;
  border:2px solid orange;
  border-radius: 10px;
}
.form-main textarea:focus {
  border:2px solid green;
}
.form-main button {
  padding:0.5rem;
  margin:0.2rem;
  cursor:pointer;
  border:hidden;
  font-weight:bold;
  background-color: orange;
  border-radius: 10px;
  margin:0.5rem;
}
.form-main button:hover,
.form-main button:focus {
  color:white;
  border:1px solid black;

}

/* form ends here */
/* fetched meme starts here */
.fetchedmeme-main {
  max-width:380px;
  border: 2px solid orange;
  border-radius:10px;
  display:flex;
  align-items:center;
  color:orange;
  flex-direction:column;
  padding:2rem;
  justify-content: space-between;
  background-color: lightblue;
  margin:1rem auto;
  height:400px;
}
@keyframes flash {
  from {color:black}
  to {color:orange}
}
.fetchedmeme-main p {
  background-color: lightblue;
  font-weight: bold;
  padding:5px;
  text-align:center;
  animation: flash 0.4s linear 0.5s infinite alternate;
  border-radius:10px;
}
.fetchedmeme-main a {
  display:flex;
  justify-content: center;
  width:100%;
}

.fetchedmeme-main img {
  width:100%;
  height:250px;
  border:2px solid orange;
}
/* fetched meme ends here */
/* footer starts here */

.footer-main {
  padding:1rem 1rem;
  background-color:lightblue;
  display: flex;
  justify-content: space-between;
  padding:1rem;
  color:orange;
  font-weight:bold;
}

.footer-main a {
  color:black;
  font-weight: bold;
  text-decoration: none;
  animation: flash 0.5s linear 0.5s infinite alternate;
  cursor:pointer;
}
/* I hate css */
@media (max-width:850px) {
  .routes-section {
    padding:1rem;
  }
  .all-memes-main-content {
    max-width:90%;
    grid-template-columns:repeat(4, 1fr);
  }
  .each-meme {
    height:150px;
    font-size:0.2rem;
  }
  .meme-info p {
    font-size:8px;
  }
  .meme-info img {
    height:70px;
  }
  .meme-div {
    width:80%;
  }
}
@media (max-width:455px) {
  .routes-section {
    padding:10px;  
  }
  .all-memes-main-content {
    max-width:90%;
    grid-template-columns:repeat(3, 1fr);
    padding:0.3rem;
    gap:0.4rem;
    height:75vh;
  }
  .each-meme {
    height:140px;
    font-size:0.2rem;
    text-align: center;
  }
  .meme-info p {
    font-size:8px;
  }
  .meme-info img {
    height: 60px;
  }

}