* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  font-family:Arial, Helvetica, sans-serif;
}
.main-app-layout {
  display:grid;
  grid-template-rows:auto 1fr auto;
  box-sizing:border-box;
  height:100vh;
}
.routes-section {
  display: flex;
  justify-content: center;
  padding:1rem;
}
/* header starts here */
.header-main {
  background-color: lightblue;
  position: sticky;
  width:100vw;
  display:flex;
  justify-content: space-around;
  padding:1rem 1rem;
}
.header-main p {
  color:orange; 
  font-weight: bold;
}
.link {
  color:black;
  font-weight: bold;
  text-decoration: none;
}
.link:hover {
  color:orange;
  transition: 0.1s ease-in;
}
/* header finishes here */
.all-memes-main-content {
  background-color: black;
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns:repeat(auto-fill, 140px);
  flex-wrap:wrap;
  max-height:800px;
  overflow: scroll;
  max-width:90%;
  padding:1rem 1rem;
  grid-gap:0.6rem;
  grid-auto-rows: 1fr;
  color:"white";
}
.each-meme {
  border: 3px solid white;
  border-radius:10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  cursor: pointer;
  background-color: rgb(48, 45, 45);
  height:180px;
}
.each-meme:hover {
  opacity:0.5;
}
.each-meme:hover > .svg-div {
  display: flex;
  z-index: 1;
}
.each-meme:hover > .meme-info {
  background-color: black;
  opacity: 1;
  color: white;
  opacity: 0.6;
}
.meme-info {
  display: flex;
  flex-direction: column;
  grid-row-start: 1;
  grid-column-start: 1;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
}

.meme-info img {
  max-width: 100%;
  height: 100px;
}
.meme-info p {
  color:white;
  text-decoration: none;

}
.svg-div {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-column-start: 1;
}
#svg {
  width: 55px;
  height: 55px;
  color: black;
}

/* form starts here */

.meme-component-main {
  border-radius:10px;
  border:2px solid orange;
  padding:1rem;
}
.meme-component-main img {
  max-height:300px;
  width:100%;
}

.form-main {
  display:flex;
  flex-direction: column;
}
.form-main textarea {
  resize:none;
  padding:0.5rem;
  margin:0.2rem;
  border:1px solid orange;
}
.form-main textarea:focus {
  border:2px solid green;
  
}
.form-main button {
  padding:0.5rem;
  margin:0.2rem;
  cursor:pointer;
  border:none;
  font-weight:bold;
}
.form-main button:hover,
.form-main button:focus {
  color:orange;
  background-color: lightblue;
}

/* form ends here */

.fetchedmeme-main {
  max-width:300px;
  padding:1rem;
  border: 2px solid orange;
  border-radius:10px;
  height:auto;
  display:flex;
  align-items:center;
  color:orange;
  justify-content: center;
  flex-direction:column;
  position:relative;
}

.fetchedmeme-main p {
  position:absolute ;
  width:100%;
  bottom:12px;
  background-color: lightblue;
  padding:5px;
  text-align:center;
  animation: textcolor 0.5s linear 0.5s infinite alternate;
}
@keyframes textcolor {
  0% {
    color:black;
  }
  50% {
    color:red;
  }
  75% {
    color:white;
  }
  100% {
    color:orange;
  }
}

.fetchedmeme-main img {
  max-width:100%;
  padding:0.5rem;
}
/* footer starts here */

.footer-main {
  padding:1rem 1rem;
  background-color:lightblue;

}
@keyframes flash {
  from {color:black}
  to {color:orange}
}
.footer-main a {
  color:black;
  font-weight: bold;
  text-decoration: none;
  animation: flash 0.5s linear 0.5s infinite alternate;
}
.footer-main a:hover {
  color:orange;
  transition: 0.1s ease-in
}